<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="kr.co.hanamicron.bwp.component.dao.status.MemberStatusDao">
  <select id="getMemberStatusByMemberNo" parameterType="int" resultType="Status">
    select
      status.no
    , status.name
    from bwp.member_status
    inner join bwp.status on member_status.status_no = status.no
    where member_status.member_no = #{member_no}
  </select>
</mapper>